<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>404 not found</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
  </head>
  <body style="background-color: linen; text-align: center; padding-top: 20%;">
    <div class="container not-found-error clearfix">
    	<i class="fa fa-5x fa-exclamation-triangle"></i>
      <h1>404 not found</h1>
    	<p>The page you're looking for could not be found!</p>
    </div>
  </body>
</html>